<h1>Books</h1>

<div class="row">  
<div class="col s12">

<table class="highlight">

  <thead>
    <tr>
      <th>Title</th>
      <th>ISBN number</th>
      <th>Description</th>
      <th>Author</th>
      <th>Status</th>
      <th>Thumbnail</th>
      <th>Return date</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
        <tr data-href=<%= "/administrator/showbook/" + book.id.to_s + "/" %> >
          <td><%= book.title %></td>
          <td><%= book.isbn %></td>
          <td><%= book.description %></td>
          <td><%= book.author %></td>
          <td><%= get_status_from_number(book.status) %></td>
          <td><img class="thumbnail" src=<%= book.thumbnail %> ></td>
          <td><%= book.return %></td>
        </tr>
    <% end %>
  </tbody>
</table>


<a href="/administrator/createbook" class="waves-effect waves-light btn"><i class="material-icons left">book</i>Create</a>


</div>

</div>