<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :firstname %>
      <%= f.text_field :firstname %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :lastname %>
      <%= f.text_field :lastname %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :address1 %>
      <%= f.text_field :address1 %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :address2 %>
      <%= f.text_field :address2 %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
  </div>

  
  <div class="row">
    <div class="input-field col s12">
      <%= f.select(:status, [['Inactive', 0], ['Active', 1]], {}, { :class => 'matselect' }) %>
      <label>Status</label><br>
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>
  
   <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  
  
<% end %>
