
<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :isbn, 'ISBN' %>
      <%= f.text_field :isbn %>
    </div>
  </div>

  
  <div class="row">
    <div class="input-field col s12">
    <%= f.label :description %>
    <%= f.text_field :description %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :author %>
      <%= f.text_field :author %>
      </div>
  </div>

  <div class="row">
  <div class="input-field col s12">
    <%= f.select(:status, [['Unavailable', 0], ['OnLoad', 1], ['Available', 2]], {}, { :class => 'matselect' }) %>
    <label>Status</label><br>
  </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :thumbnail %>
      <%= f.text_field :thumbnail %>
    </div>
  </div>

   <div class="row">
    <div class="input-field col s12">
        <%= f.label :return, 'Return date' %>
      <input id="book_return" name='book[return]' type="date" class='datepicker' value=<%= @book.return.to_s %> />
    </div>
  </div>
  
 

 <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  

<% end %>
