
<h1>Users</h1>

<table class="highlight">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Phone number</th>
      <th>Status</th>
      <th>Is admin</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr data-href=<%= "administrator/showuser/" + user.id.to_s + "/" %> >
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.address1 %></td>
        <td><%= user.address2 %></td>
        <td><%= user.phone %></td>
        <td><%= get_userstatus_from_number(user.status) %></td>
        <td><%= user.isadmin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col s12">
    <a href="administrator/createuser" class="waves-effect waves-light btn"><i class="material-icons left">account_box</i>Create</a>
  </div>
</div>
