<%= render "member/search" %>


<h2>Welcome <%= @usrfirstname %> <%= @usrlastname %></h2>

  <h4>List of your rented books</h4>
    <table class="highlight">
      <thead>
        <tr>
          <th>Title</th>
          <th>Isbn</th>
          <th>Description</th>
          <th>Author</th>
          <th>Status</th>
          <th>Thumbnail</th>
          <th>Return</th>
        </tr>
      </thead>
    
      <tbody>
        <% @Memberbooks.each do |book| %>
        <tr data-href=<%= "/member/showbook/" + book.id.to_s + "/" %>>
          <td><%= book.title %></td>
          <td><%= book.isbn %></td>
          <td><%= book.description %></td>
          <td><%= book.author %></td>
          <td><%= get_status_from_number(book.status) %></td>
          <td><img class="thumbnail" src=<%= book.thumbnail %>></img></td>
          <td><%= book.return %></td>
        </tr>
        <% end %>
      </tbody>
    </table>