<p id="notice"><%= notice %></p>

<% @books.each do |book| %>
  <% @usr = book.userid %>
<% end %>

<% @usr = 10 %>

<% @users.each do |user| %>
  <% if user.id == @usr %>
    <% @usrfirstname = user.firstname %>
    <% @usrlastname = user.lastname %>
  <% end %>
<% end %>

<h2>Welcome <%= @usrfirstname %> <%= @usrlastname %></h2>

<% if @usr == 10 %> 
  <h4>List of your rented books</h4>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Isbn</th>
          <th>Description</th>
          <th>Author</th>
          <th>Status</th>
          <th>Thumbnail</th>
          <th>Return</th>
          <th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @Memberbooks.each do |mb| %>
            <tr>
              <td><%= mb[1] %></td>
              <td><%= mb[2] %></td>
              <td><%= mb[3] %></td>
              <td><%= mb[4] %></td>
              <td><%= mb[5] %></td>
              <td><%= mb[6] %></td>
              <td><%= mb[7] %></td>
              <td>
                <% @books.each do |book| %>
                    book = book.find_by(id: mb[0])
                    <%= link_to(book_path(book, "book[return]" => Date(mb[7] + 30)), :method => :put) do %>
                    <% end %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
<% end %>